footer {
    background-color: var(--blue);
    box-shadow: 0px 0px 25px var(--blue);
    animation: header-sombra linear 3s infinite;
    padding: 1.2rem 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.rodape {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.rodape a svg {
    height: min-content;
    width: 25px;   
}

footer svg g {
    fill: var(--baby-blue)
}