@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/footer.css);

:root {
    --fonte: 'Montserrat', sans-serif;
    --white: #f0edee;
    --baby-blue: #90ddf0;
    --blue: #007fff;
    --shadow-blue: #0059b1;
    --dark-blue: #0a090c;
    --gray: #6a6a6a;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--white);
    font-family: var(--fonte);
    font-weight: 500;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.negrito {
    color: var(--blue);
    font-weight: 600;
}

.link {
    color: var(--baby-blue);
}

.link:hover {
    transform: scale(1.1);
    transition: .1s;
}

@media screen and (max-width: 990px) {
    
}