@import url("./css/header.css");
@import url("./css/banner.css");
@import url("./css/sobreMim.css");

:root {
    --black: #1f1f1f;
    --black-white: #2f2d2d;
    --white: #FFFFFF;
    --purple: #CA3E47;
    --gray: #626262;
    --background: #313131;
    --gray-escuro: #414141;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: var(--background);
}

a {
    text-decoration: none;
}

a {
    color: #e92c6c;
    text-decoration:none;
    font-weight:bold
}

.container {
    max-width: 1700px;
    width: 96%;
    margin: auto;
}

.botao {
    border: 2px solid var(--purple);
    border-radius: 2px;
    padding: .75rem 2rem;
    color: var(--purple);
    font-weight: 600;
    box-shadow: 0px 0px 5px var(--purple);
    background-color: var(--black-white);
    transition: 0.2s;
}

.botao:hover {
    transform: scale(1.1);
}

.red {
    color: var(--purple);
}

.negrito {
    font-weight: 700;
}

